@import 'tailwindcss/base';
@import './base.css';

@import 'tailwindcss/components';
@import './components.css';
@import './prism-colors.css';
@import './mdx-contents.css';
@import './mdx-components.css';

@import 'tailwindcss/utilities';

.floating-image {
  animation: float 3s ease-in-out infinite; /* Tạo hiệu ứng lặp đi lặp lại */
}

@keyframes float {
  0% {
    transform: translateY(10px); /* Vị trí ban đầu */
  }
  50% {
    transform: translateY(30px); /* Dịch lên một chút */
  }
  100% {
    transform: translateY(10px); /* Quay lại vị trí ban đầu */
  }
}

.text-container {
  text-align: center;
  margin-top: 2px;
}

.generate-text {
  font-size: 36px;
  font-weight: bold;
  color: #8b5cf6;
  overflow: hidden; /* Giới hạn phần text không hiển thị */
  white-space: nowrap; /* Không cho phép chữ xuống dòng */
  animation: text-generate 2s steps(30) 1s forwards infinite alternate; /* Tạo hiệu ứng chữ xuất hiện và chạy ngược lại */
}

@keyframes text-generate {
  0% {
    width: 0; /* Ảo ảnh chữ chưa xuất hiện */
  }
  100% {
    width: 100%; /* Chữ hiện lên đầy đủ */
  }
}

:root {
  --btnbookNow-primaryColor: rgba(139, 92, 246, 0.7);
  --btnbookNow-shadowColor: rgba(139, 92, 246, 0.4);
}
.fui-button-book-now {
  display: inline-block;
  .btn-link {
    display: flex;
    align-items: center;
  }
  svg {
    display: inline-block;
    width: 17px;
    height: 32px;
    margin-right: 30px;
    position: relative;
    z-index: 3;
  }

  a {
    transition: linear 0.25s;
    color: white;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    padding: 10px 20px 10px 18px;
    border-radius: 30px;
    background-color: var(--btnbookNow-primaryColor);
    border: 2px solid var(--btnbookNow-primaryColor);
    position: relative;
    box-shadow: rgba(139, 92, 246, 0.6) 0px 7px 29px 0px;

    &::before {
      position: absolute;
      top: 4px;
      left: 5px;
      width: 42px;
      height: 42px;
      content: '';
      background-color: rgba(139, 92, 246, 1);
      border-radius: 100rem;
      z-index: 1;
    }

    &::after {
      position: absolute;
      top: 4px;
      left: 5px;
      width: 42px;
      height: 42px;
      content: '';
      border-radius: 100rem;
      z-index: 0;
      animation: ripple-wave-book 3s linear infinite;
      animation-play-state: running;
    }

    &:hover {
      background-color: rgba(139, 92, 246, 0.1);
      color: var(--btnbookNow-primaryColor);

      svg {
        color: white;
      }
    }
  }
}

@keyframes ripple-wave-book {
  0% {
    box-shadow:
      0 0 var(--btnbookNow-shadowColor),
      0 0 0 5px var(--btnbookNow-shadowColor),
      0 0 0 15px var(--btnbookNow-shadowColor);
    opacity: 1;
  }
  50% {
    box-shadow:
      0 0 0 10px var(--btnbookNow-shadowColor),
      0 0 0 20px var(--btnbookNow-shadowColor),
      0 0 0 30px var(--btnbookNow-shadowColor);
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    box-shadow:
      0 0 var(--btnbookNow-shadowColor),
      0 0 0 5px var(--btnbookNow-shadowColor),
      0 0 0 15px var(--btnbookNow-shadowColor);
    opacity: 1;
  }
}

/** button */
:root {
  --btn-gradient: linear-gradient(to right top, #6646b7, #231a49);
}

.bt-button-1 {
  display: inline-block;
  padding: 16px 40px;
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  background-image: var(--btn-gradient);
  color: white;
  font-weight: 600;
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  &:hover::before {
    left: auto;
    right: 0;
    width: 100%;
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: auto;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #fff;
    opacity: 0.1;
    z-index: -1;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}
